@import "tailwindcss";

:root {
    /* colors */
    --pb-body: #050709;
    --pb-white: #ffffff;
    --pb-black: #000000;

    --pb-theme-primary: #8750f7;
    --pb-theme-secondary: #2a1454;
    --pb-theme-accent-1: #0f0715;
    --pb-theme-accent-2: #140c1c;

    --pb-grey-1: #747779;
    --pb-grey-2: #22272c;
    --pb-grey-3: #1b262e;

    --pb-bg: #0c1115;
    --pb-bg-1: #0e1418;
    --pb-bg-2: #10171c;
    --pb-bg-3: #151b1f;
    --pb-bg-4: #0d0612;

    --pb-border: #1b2227;
    --pb-border-1: #2a343c;
}

@theme inline {
    /* colors variants */
    --color-pb-body: var(--pb-body);
    --color-pb-white: var(--pb-white);
    --color-pb-black: var(--pb-black);

    /* theme color variants */
    --color-pb-theme-primary: var(--pb-theme-primary);
    --color-pb-theme-secondary: var(--pb-theme-secondary);
    --color-pb-theme-accent-1: var(--pb-theme-accent-1);
    --color-pb-theme-accent-2: var(--pb-theme-accent-2);

    /* grey color variants */
    --color-pb-grey-1: var(--pb-grey-1);
    --color-pb-grey-2: var(--pb-grey-2);
    --color-pb-grey-3: var(--pb-grey-3);

    /* bg color variants */
    --color-pb-bg: var(--pb-bg);
    --color-pb-bg-1: var(--pb-bg-1);
    --color-pb-bg-2: var(--pb-bg-2);
    --color-pb-bg-3: var(--pb-bg-3);
    --color-pb-bg-4: var(--pb-bg-4);

    /* border color variants */
    --color-pb-border: var(--pb-border);
    --color-pb-border-1: var(--pb-border-1);

    /* font family */
    --font-sora: var(--font-sora);
    --font-russo-one: var(--font-russo-one);
    --font-luckiest-guy: var(--font-luckiest-guy);
}

html,
body {
    width: 100%;
    width: 100%;
}

body {
    background-color: var(--pb-body);
    color: var(--pb-white);
    font-family: var(--font-sora);
}

@layer utilities {
    /* nav links underline */
    .nav-link::after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        height: 2px;
        width: 100%;
        background: linear-gradient(
            to right,
            var(--color-pb-theme-primary),
            var(--color-pb-theme-secondary)
        );
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.4s ease;
    }

    .nav-link:hover::after {
        transform: scaleX(1);
        transform-origin: left;
    }

    .nav-link-active::after {
        transform: scaleX(1);
        transform-origin: left;
    }

    /* gradient text */
    .text-gradient {
        background: linear-gradient(
            90deg,
            var(--color-pb-theme-primary),
            var(--color-pb-white)
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    .text-outline {
        -webkit-text-stroke: 1px var(--pb-theme-secondary);
        color: transparent;
    }
}
